# AI Ethics Education
## Mariah A. Knowles
### Feb 28, 2022

# Education

## UW-Madison

- (current) PhD, Library and Information Science

## Western Kentucky University

- (2018) MA, English Rhetoric/Composition
- (2016) MS, Computer Science
- (2014) BS, Computer Science, minor: Professional Writing

# Teaching

In [1]:
from pandas import read_csv, DataFrame
from IPython.display import HTML
from os import system
teaching = read_csv("data/teaching.csv", sep="\t")
teaching["Total"] = teaching["Sections"] * teaching["Hours"]
teaching[["Format", "Total"]].groupby("Format").sum().sort_values(by="Total", ascending=False)

        Total
Format
WWW      71.0
F2F      57.8
Hybrid   36.0

In [2]:
teaching[["School", "Total"]].groupby("School").sum().sort_values(by="Total", ascending=False)

            Total
School
KCTCS       117.8
UW-Madison   47.0
WKU           0.0

In [3]:
topics = ["Ethics", "Writing", "Programming", "Networking", "Web", "Database", "Office", "Security", "Data Science", "Research and Data Analysis"]
totals = [teaching[teaching["Topic"].str.contains(topic)]["Total"].sum() for topic in topics]
DataFrame({"Total": totals}, index=topics).sort_values(by="Total", ascending=False)

                            Total
Web                          60.0
Writing                      55.0
Programming                  54.8
Ethics                       46.0
Database                     39.0
Networking                   36.0
Security                     36.0
Office                       18.0
Data Science                 12.0
Research and Data Analysis    0.0

In [4]:
levels = ["Undergraduate", "Graduate", "Workforce Training", "Grades 6-8", "Grades 9-12", "Grades 4-6", "Grades 7-10"]
totals = [teaching[teaching["Level"].str.contains(level)]["Total"].sum() for level in levels]
DataFrame({"Total": totals}, index=levels).sort_values(by="Total", ascending=False)

                    Total
Undergraduate       163.0
Graduate              3.0
Workforce Training    0.8
Grades 6-8            0.0
Grades 9-12           0.0
Grades 4-6            0.0
Grades 7-10           0.0

# Other Teaching-Related Activities

- Volunteer  Instructor,  Microsoft  TEALS,  Madison  East  High School:  Fa19, Sp20
- "Telling Stories of Transitions:  Sharing the Endeavors of Quant and Qual Research."  For Modupe Adewuyi’s NURS 4434 Vulnerable Populations, Kennesaw State University: SP22

# Research

In [5]:
system("pybtex-format iconf-2022/refs.bib iconf-2022/refs.html")
HTML(filename="iconf-2022/refs.html")